@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}
 .header {
    padding: 20px;
    background-color: rgb(251, 251, 251);
    border: 1px solid #777;
    border-radius: 10px;
}
body {
    background-color: orange;
}
 nav {
    padding: 10px;
    background-color: orange;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
 }
 .logo {
    font-family: special gothic expanded one;
    color: white;
    border-style: dashed;
    cursor: pointer;
    padding: 20px;
    background-color: orange;
    text-align: center;
 }
 .logo:active {
    border-style: dotted;
 }

 .left-section {
    
    width: 300px;
    background-color: orange;
    display: flex;
    align-items: center;
    gap: 20px;
 }
 .left-section p {
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
 }
 .left-section p:hover {
    text-decoration: underline;
    color: rgb(216, 216, 216);
    transition: 0.4s;
 }


 .content-grid {
   border: 20px solid silver;
   margin-top: 40px;
   border-radius: 10px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
 }
 .content-box { 
   margin-top: 30px;
   padding: 20px;
   border-radius: 5px;
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .content-box div img {
    height: 200px;
    width: 180px;
    border-radius: 5px;
    transition: transform 0.7s ease-in-out;
 }
 .content-box div:hover img {
   transform: scale(1.1);
 }
  
.info-box {
   border: 5px solid grey;
   border-radius: 10px;
   padding: 20px;
   margin-top: 10px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   display: flex;
   gap: 40px;
   align-items: center;
}

.info-box-2 {
   border: 5px solid grey;
   border-radius: 10px;
   padding: 20px;
   margin-top: 10px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   display: flex;
   gap: 40px;
   align-items: center;
   margin-top: 20px;
}

.info-box .name {
   color: black;
   font-weight: 500;
}
.info-box .surname {
   color: #fff;
   font-weight: 600;
}

.second-header {
   display: flex;
   gap: 20px;
   border-bottom: 1px solid gray;
margin-bottom: 4px;
}
a {
   text-decoration: none;
   cursor: pointer;
}
.second-header p {
   border: 1px solid black;
   padding: 18px;
   color: white;
   font-weight: 600;
   transition: 0.4s padding;
}
.second-header p:hover {
   padding: 20px;
   border: 2px solid black;
}
.second-header p:active {
   border-style: dotted;
}

.third-header {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   gap: 20px;
   border-bottom: 1px solid gray;
}

.third-header p {
   border: 1px solid black;
   border-style: dashed;
   padding: 14px;
   color: white;
   font-weight: 600;
   transition: 0.4s padding;
}
.third-header p:hover {
   padding: 16px;
   background: black;
}

.third-header p:active {
   padding: 16px;
   background: black;
}
@media (max-width: 944px) {
   .left-section {
      display: none;
   }
}
@media (max-width: 832px) {
   .content-grid {
      border: 20px solid silver;
      margin-top: 40px;
      border-radius: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

}
@media (max-width: 700px) {
   nav {
      flex-direction: column;
   }
   .second-header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      border-bottom: 1px solid gray;
   margin-bottom: 4px;
   }
   .third-header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      border-bottom: 1px solid gray;
   }

   .content-grid {
      border: 20px solid silver;
      margin-top: 40px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
    }

  
}

